<h3>Home Table</h3>
<div class="row">
  <div class="form-outline">
    <div class="input-group">
      <span class="input-group-text" id="">Your Name</span>
      <input
        type="text"
        id="search"
        (input)="searchKey($event)"
        placeholder="Search by name"
      />
    </div>
    <br />
    <button class="btn btn-sm btn-info my-3" (click)="toggleFilter()">
      Filter
    </button>

    <div class="row" [hidden]="isHidden">
      <div *ngFor="let appendDiv of appendDivs; index as i" class="my-2">
        <app-filter-item
          [handleSearch]="searchFilter.bind(this)"
          [onFieldSelected]="onFieldSelected.bind(this)"
          [onOperatorSelected]="onOperatorSelected.bind(this)"
        />
      </div>
      <div class="row">
        <div class="col-2">
          <button class="btn btn-success btn-sm m-2" (click)="onAddBtn()">
            + Add
          </button>
        </div>
      </div>
    </div>

    <!-- <app-filter></app-filter> -->
    <div class="row">
      <div class="table-responsive">
        <table border="1px" class="table table-striped-columns table-hover">
          <thead>
            <tr>
              <th>No.</th>
              <th>Name</th>
              <th>Father's Name</th>
              <th>Mother's Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Email</th>
            </tr>
          </thead>

          <tbody class="table-responsive">
            <tr height="100px" *ngFor="let person of filterList">
              <td width="100px">{{ person.id }}</td>
              <td>{{ person.name }}</td>
              <td>{{ person.fatherName }}</td>
              <td>{{ person.motherName }}</td>
              <td>{{ person.address }}</td>
              <td>{{ person.phone }}</td>
              <td>{{ person.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <section>
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2 style="text-align: center">Form submit</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="userForm" (submit)="userSubmit()">
              <div class="row my-3">
                <label for="name" class="col-md-4" style="text-align: right"
                  >Name</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    formControlName="name"
                  />
                </div>
              </div>
              <div class="row my-3">
                <label
                  for="fatherName"
                  class="col-md-4"
                  style="text-align: right"
                  >Father's Name</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    name="fatherName"
                    class="form-control"
                    id="fatherName"
                    formControlName="fatherName"
                  />
                </div>
              </div>
              <div class="row my-3">
                <label
                  for="motherName"
                  class="col-md-4"
                  style="text-align: right"
                  >Mother's Name</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    name="motherName"
                    class="form-control"
                    id="motherName"
                    formControlName="motherName"
                  />
                </div>
              </div>
              <div class="row my-3">
                <label for="address" class="col-md-4" style="text-align: right"
                  >Address</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    name="address"
                    class="form-control"
                    id="address"
                    formControlName="address"
                  />
                </div>
              </div>
              <div class="row my-3">
                <label for="phone" class="col-md-4" style="text-align: right"
                  >Phone</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    name="phone"
                    class="form-control"
                    id="phone"
                    formControlName="phone"
                  />
                </div>
              </div>
              <div class="row my-3">
                <label for="email" class="col-md-4" style="text-align: right"
                  >Email</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="my-4" style="text-align: center">
                <button class="btn btn-primary btn-block" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="my-5"></div>
      </div>
    </section>
  </div>
</div>
